version: '3.9'
services:
  converter:
    build: ./converter
    volumes:
      - ./uploads:/app/uploads
    environment:
      - PYTHONUNBUFFERED=1
  backend:
    build: .
    stop_signal: SIGINT
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./private.pem:/app/private.pem
      - ./uploads:/app/uploads
    environment:
      - PYTHONUNBUFFERED=1
