version: '3.9'
volumes:
  grafana: {}
  metrics: {}
  vmagentdata: {}
services:
  vmagent:
    container_name: vmagent
    restart: always
    image: victoriametrics/vmagent
    depends_on:
      - "victoriametrics"
    volumes:
      - vmagentdata:/vmagentdata
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--promscrape.config=/etc/prometheus/prometheus.yml'
      - '--remoteWrite.url=http://victoriametrics:8428/api/v1/write'
  victoriametrics:
    restart: always
    image: victoriametrics/victoria-metrics
    volumes:
      - metrics:/victoria-metrics-data
  grafana:
    restart: always
    image: grafana/grafana-oss
    volumes:
      - grafana:/var/lib/grafana
  watchtower:
    restart: always
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_POLL_INTERVAL=60
  caddy:
    restart: always
    image: caddy:2.4.6-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
  converter:
    restart: always
    stop_signal: SIGINT
    image: dvoell/project_za_converter
    # build: ./converter
    volumes:
      - ./uploads:/app/uploads
    environment:
      - PYTHONUNBUFFERED=1
    labels:
      - com.centurylinklabs.watchtower.enable=true
  backend:
    restart: always
    # build: .
    image: dvoell/project_za_backend
    stop_signal: SIGINT
    env_file:
      - .env
    volumes:
      - ./private.pem:/app/private.pem
      - ./uploads:/app/uploads
    environment:
      - PYTHONUNBUFFERED=1
    labels:
      - com.centurylinklabs.watchtower.enable=true
